section.about
    .title.title__line
        h2.title__header Услуги
            h3.title__text Мы предоставляем следующие услуги
    ul.about__list
        li.about__item
            .icon.icon_service
            h3.about__item_header Сервис
            p.about__item_description Обслуживание существующих систем

        li.about__item
            .icon.icon_install
            h3.about__item_header Установка
            p.about__item_description Установка новых систем

        li.about__item
            .icon.icon_upgrade
            h3.about__item_header Модернизация
            p.about__item_description Модернизация существующей системы
