section.approach
    .title.title__line
        h2.title__header О&nbspподходе
            h3.title__text Наш подход в работе

    ul.approach__list
        li.approach__item
            .approach__image
                img.approach__picture(src="../../images/step1.png" alt="picture")
                .approach__step Шаг
            .approach__text
                .approach__title Шаг 1 : обращение в диспетчерскую службу
                p.approach__description.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled.
        li.approach__item
            .approach__image
                img.approach__picture(src="../../images/step2.png" alt="picture")
                .approach__step Шаг
            .approach__text
                .approach__title Шаг 2 : постановка интересующего вопроса
                p.approach__description.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled.
        li.approach__item
            .approach__image
                img.approach__picture(src="../../images/step3.png" alt="picture")
                .approach__step Шаг
            .approach__text
                .approach__title Шаг 3 : получение развернутого ответа от специалиста
                p.approach__description.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled.
        li.approach__item
            .approach__image
                img.approach__picture(src="../../images/step4.png" alt="picture")
                .approach__step Шаг
            .approach__text
                .approach__title Шаг 4 : обдумывание предложенного(ых) варианта(ов)
                p.approach__description.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled.
        li.approach__item
            .approach__image
                img.approach__picture(src="../../images/step5.png" alt="picture")
                .approach__step Шаг
            .approach__text
                .approach__title Шаг 5 : согласовывание времени, места и стоимости сделки
                p.approach__description.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled.