section.banner-section
    .banner
        .banner__about Наши Услуги
        h1.banner__title  Питьевая водоотчистка и водоподготовка
        a.button.button_main.button_text-uppercase(href="#") Бесплатная консультация

