nav.nav
    - var items = ['Главная', 'Услуги', 'О подходе', 'Контакты']
    each item in items
        if item === '1'
            a.nav__link.nav__link_active(href="#")=item
        else
            a.nav__link(href="#")= item

