section.work
    .title.title__line
        h2.title__header Технологии
            h3.title__text Оборудывание и материалы
    .work__items
            img.work__picture(src="../../images/atoll.jpg" alt="Обратный осмос")
            img.work__picture(src="../../images/tubes.jpg" alt="шланги")
            img.work__picture(src="../../images/reductor.jpg" alt="редуктор давления")
            img.work__picture(src="../../images/membrane.jpg" alt="мембрана")
            img.work__picture(src="../../images/kartridg.jpg" alt="картриджи для воды")
            img.work__picture(src="../../images/fitings.jpg" alt="фитинги для RO")
            img.work__picture(src="../../images/ecowater.jpg" alt="умягчитель воды")
            img.work__picture(src="../../images/3kolb.jpg" alt="трех колбовая система")


